.                                        
..                                       
.DS_Store                                
.\                                       
.git                                     
.gitattributes                           
Data                                     
Deconvolve.m                             
FCO2_anomalies.m                         
FigSSS.m                                 
FigSST.m                                 
FigSpice.m                               
Figure10.m                               
Figure11.m                               
Figure13.m                                                          
Figure8.m                                
Figure9.m                                                                                       
FigureInterCorrDelpCO2Wind.m             
FigureInterDelpCO2.m                     
FigureInterFCO2.m                        
FigureInterPCO2.m                        
FigureInterWind.m                        
FigureSxxx.m                             
FigureSxxxx.m                            
FigureWind.m                             
Figure_ObsByYear.m                       
Figure_x.m                               
Figure_xxx.m                             
Figures.m                                
Figurexxxxxxxx.m                         
IAV.m                                 
Index                                    
NPGOidx.csv                              
PDOidx.csv                               
Profiles                                 
RFR-CCS_v1.mat                           
RFR-CCS_v1.nc                            
RFR-CCS_v1_02-Aug-2021-15-34-26.mat      
RFR-CCS_v1_02-Aug-2021-15-34-26.nc       
RFR-CCS_v1_18-Jun-2021-09-19-24.mat      
RFR-CCS_v1_18-Jun-2021-09-19-24.nc       
RFR-CCS_v1_20-Jul-2021-14-58-44.mat      
RFR-CCS_v1_20-Jul-2021-14-58-44.nc       
RFR-CCS_v1_21-Jun-2021-14-44-15.mat      
RFR-CCS_v1_21-Jun-2021-14-44-15.nc       
RFR-CCS_v1_21-Jun-2021-14-55-07.mat      
RFR-CCS_v1_21-Jun-2021-14-55-07.nc       
RFR-CCS_v1_21-Jun-2021-15-24-26.mat      
RFR-CCS_v1_21-Jun-2021-15-24-26.nc       
RFR-CCS_v1_21-Jun-2021-15-27-58.mat      
RFR-CCS_v1_21-Jun-2021-15-27-58.nc       
Trends.m                                 
calculateCO2flux_Papa.m                  
calculateCO2flux_WindVsDelpco2.m         
calculateCO2flux_mooring_wind_effects.m  
compareFluxes.m                          
compare_to_WCOA.m                        
compare_to_floats.m                      
compare_to_literature.m                  
deconvolveCO2flux.m                      
gridSOCATv2020_coarse.m                  
importCCMPWinds.m                        
importCHL.m                              
importEN4.m                              
importERA5.m                             
importERA5_extd.m                        
importERA5hourly.m                       
importETOPO2.m                           
importLAND2.m                            
importMLD.m                              
importMoorings.m                         
importNCEPWinds.m                        
importSOCATv4gridded.m                   
importSOCATv4gridded_coastal.m           
interpolateSOCATv2021_RF_all_optimize.m  
interpolateSOCATv2021_RF_all_test.m      
mooring_omission_2.m                     
moorings.m                               
oobErrRF.m                               
uncertainty.m
*.jpg
*.png
*.nc
*.mat
